@model IEnumerable<BerniesBlog.WebUI.Models.RestaurantListViewModel>
@{
    ViewBag.DefaultPageHeader = "The Food Hall";
    ViewBag.DefaultPageSubHeader = "Feeling Hungry?";
}

@Html.ActionLink("Restaurant Reviews", "Index", "Reviews")

<form method="get">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name"/>
</form>

@foreach(var restaurant in Model)
{
    <h4>@restaurant.Name</h4>
    <div>@restaurant.City, @restaurant.Country</div>
    <p>Number of reviews: @restaurant.NumberOfReviews</p>
    <hr/>

}