@model BerniesBlog.WebUI.Models.RestaurantViewModel

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Country)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Reviews", "Index", "Reviews", new { id = Model.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                </td>
            </tr>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*@model IEnumerable<BerniesBlog.Models.RestaurantListViewModel>
    @{
        ViewBag.DefaultPageHeader = "The Food Hall";
        ViewBag.DefaultPageSubHeader = "Feeling Hungry?";
    }

    @Html.ActionLink("Restaurant Reviews", "Index", "Reviews")



    @foreach (var restaurant in Model)
    {
        <h4>@restaurant.Name</h4>
        <div>@restaurant.City, @restaurant.Country</div>
        <p>Number of reviews: @restaurant.NumberOfReviews</p>
        <hr />

    }*@
