@model IEnumerable<BerniesBlog.WebUI.Models.RestaurantListViewModel>


<h2>Restaurants</h2>

@*@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "restaurantList"
}))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />
}*@

<form method="get" action="@Url.Action("index")" data-berniesblog-ajax="true" data-berniesblog-target="#restaurantlist">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />
</form>

@Html.Partial("_Restaurants", Model)


@*@model IEnumerable<BerniesBlog.Models.RestaurantListViewModel>
@{
    ViewBag.DefaultPageHeader = "The Food Hall";
    ViewBag.DefaultPageSubHeader = "Feeling Hungry?";
}

@Html.ActionLink("Restaurant Reviews", "Index", "Reviews")



@foreach (var restaurant in Model)
{
    <h4>@restaurant.Name</h4>
    <div>@restaurant.City, @restaurant.Country</div>
    <p>Number of reviews: @restaurant.NumberOfReviews</p>
    <hr />

}*@